@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins-100 {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
  }
  
  .font-poppins-200 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
  }
  
  .font-poppins-300 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }

  .font-poppins-400 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  
  .font-poppins-500 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  
  .font-poppins-600 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  .font-poppins-700 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
  
  .font-poppins-800 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
  }
  
  .font-poppins-900 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
  }

  @keyframes fadeDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


